:root {
  --link: rgb(113, 128, 113);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layer {
    position: absolute;
    width: inherit;
    height: inherit;
    background-position: center 25%;
    background-size: cover;
    z-index: -1;
    transition: transform 0.1 ease-out;

    &:nth-of-type(1) { background-image:  }
    &:nth-of-type(2) { background-image:  }
    &:nth-of-type(3) { background-image:  }
    &:nth-of-type(4) { background-image:  }
    &:nth-of-type(5) { background-image:  }
    &:nth-of-type(6) { background-image:  }
  }

.content {
  background-color: rgba(39,40,25);
  display: grid;
  place-items: center;
  gap: 3rem;
}